openapi: 3.2.0
info:
  title: Innago Tenants API
  description: REST API for Innago property management platform enabling programmatic access to properties, units, tenants, leases, invoices, payments, expenses, and maintenance tickets. Authentication uses Bearer token and API key headers.
  version: v1
  contact:
    name: Innago Support
    url: https://innago.com/contact/
    email: support@innago.com
  termsOfService: https://auth.innago.com/termsandcondition
servers:
- url: https://api-my.innago.com/openapi
  description: Innago production API
security:
- BearerAuth: []
  ApiKeyAuth: []
tags:
- name: Tenants
  description: Manage tenant information
paths:
  /v1/tenants:
    get:
      operationId: listTenants
      summary: Get all tenants for a lease
      description: Get all tenants for a PO based on lease id.
      tags:
      - Tenants
      parameters:
      - name: leaseUid
        in: query
        schema:
          type: string
          format: uuid
        description: Unique Guid Identifier for a lease
      responses:
        '200':
          description: List of tenants
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserShortInfoListResponseResponse'
  /v1/tenants/{tenantUid}:
    get:
      operationId: getTenant
      summary: Get a tenant by ID
      description: Get a tenant based on tenant id.
      tags:
      - Tenants
      parameters:
      - name: tenantUid
        in: path
        required: true
        schema:
          type: string
          format: uuid
        description: The unique identifier of a tenant
      responses:
        '200':
          description: Tenant details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserShortInfoResponseModelResponse'
components:
  schemas:
    UserShortInfoListResponseResponse:
      type: object
      properties:
        data:
          type: object
          properties:
            userShortInfoModel:
              type: array
              items:
                $ref: '#/components/schemas/UserShortInfoModel'
        error:
          $ref: '#/components/schemas/ErrorResponse'
    UserShortInfoModel:
      type: object
      properties:
        userUid:
          type: string
          format: uuid
        userFirstName:
          type:
          - string
          - 'null'
        userLastName:
          type:
          - string
          - 'null'
        userEmail:
          type:
          - string
          - 'null'
        phoneNumber:
          type:
          - string
          - 'null'
        userRole:
          type:
          - string
          - 'null'
          description: PO, Tenant, Applicant, etc.
        entityType:
          type:
          - string
          - 'null'
          description: Property, PropertyUnit, Lease, Tenant, Invoice, Payment, Maintenance, or Applicant
    UserShortInfoResponseModelResponse:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/UserShortInfoModel'
        error:
          $ref: '#/components/schemas/ErrorResponse'
    ErrorResponse:
      type: object
      properties:
        errorMessage:
          type:
          - string
          - 'null'
        errorCode:
          type:
          - string
          - 'null'
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
    ApiKeyAuth:
      type: apiKey
      in: header
      name: x-api-key
